body {
    background-color: #edf6ea;
}

h1{
    color:rgb(147, 104, 196);
}


h1, h2, p {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(98, 73, 98);
}

.description p {
    width: 600px;

}
a:hover{
    color: blueviolet;
}


.left {
    width: 600px;
    float: left;
    margin-left: 60px; 
}

.rigth {
    width: 600px;
    float: right;
    
}
 input {
    display: block;
}