* {
    box-sizing: border-box;
    margin: 0;
}
::before
::after
.selector-for-some-widget {
    box-sizing: content-box;
  }

  body {
    background-color: #edf6ea;;
  }
  h2 {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: rgb(98, 73, 98);
}
h1{
    color: black;
    background-color: pink;

    

}
  
.navbar {
    /* display: flex; */
    /* height: 5vh; */
    /* justify-content: center; */
    background-color: pink !important;
    /* flex-grow:1; */
    /* border: 10px solid green; */
}
.navbar-brand {
    
}

 .container-content {
    display:flex;
    /* justify-content: center;  */
    height:fit-content;
    flex-flow: column wrap;
    align-items: center;
    /* overflow: hidden; */
    border: 1px solid green;
   overflow-y: auto;
   flex: 0, 1 auto;
   padding: 5px;
    
    
}

.container-footer {
    height: 10vh;
    background-color: pink;
    
   
    
}


/*
#descrip{
    display:inline;
}
#credits {
    display: inline;
}

#image {
    
}



.container-footer {
    height: 25vh;
    background-color: pink;
    
   
    
}

.top{
    grid-column: 1;
    grid-row: 1;
    
}
    */

h1{
    background-color: pink;
    color: black;

} */

 /*   
.left{
    grid-column: 1;
    grid-row: 2;
    
}
/*
.image {
    justify-content: center;
    padding: 0px;
    margin-right:0;
    margin: 0;
}

.divli {
}
*/
/*
.right {
    grid-column: 2;
    grid-row: 2;
}

.tagsForRecipe {

}
.inputs {
    grid-column: 1;
    grid-row: 3;
}



.description p {


}
*/
/* a:hover{
    color: blueviolet;
}


.left {
    width: 600px;        
    float: left;
    margin-right: 30px;
 
   
}


.rigth {
    width: 600px;
    float: right;
    margin-left: 30px;
    
} */


@include media-breakpoint-up(sm) {
  .some-class {
    display: block;
  }
}

 
 @media (max-width: 576px) {



}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}


@media (min-width: 1200px) {
    
} 